@import './vars.scss';

.form__title {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
  color: $label-color;
  margin: 0;
  padding: 0;
}

.form__field-list {
  list-style: none;
  margin: 21px 0 0;
  padding: 0;
}

.form__field {
  padding: 0 0 12px;
}

.form_article .form__field {
  padding-bottom: 21px;
}
.form__field:last-of-type {
  padding-bottom: 0;
}

.label {
  display: block;
}

.control {
  width: 100%;
  box-sizing: border-box;
  padding: 8px 12px;
  margin: 2px 0;
  border: 1px solid $border-color;
  border-radius: 3px;

  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: $text-color;
  outline: none;
  transition: .3s border-color ease;
}
.control_textarea {
  height: 152px;
}
.control_tag {
  width: 300px;
  margin-bottom: 0;
}
.control::placeholder {
  color: $placeholder-color;
}
.control:focus {
  border-color: $text-color-secondary;
}



.note_field {
  color: $placeholder-color;
  font-size: 13px;
  line-height: 1;
  display: none;
}
.note_field.show {
  display: block;
}
.note_field.error {
  color: $error-color;
}
.control.error {
  border-color: $error-color;
}

.h-rule {
  border-top: 1px solid $hr-color;
  padding-top: 8px;
  margin-top: 9px;
}

.with-check {
  position: relative;
  padding-left: 24px;
  color: $modal-color;
}
.with-check .control_checkbox {
  position: absolute;
  z-index: 1;
  top: 4px;
  left: 0;
  margin: 0;
}

.btn_submit {
  width: 100%;
  height: 40px;
  margin-top: 10px;
  padding: 8px 0;
  border-radius: 3px;
  color: $base-color;
  background-color: $info-color;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s all ease;
}
.form_article .btn_submit {
  width: 437px;
  margin-top: 0;
}
.btn_submit:hover, .btn_submit:active, .btn_submit:focus {
  opacity: .9;
  letter-spacing: 2px;
  
}

.note_foot {
  display: block;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: $footnote-color;
  margin-top: 8px;
}
.form_article .note_foot {
  text-align: left;
}
.note_foot a {
  color: $info-color;
  text-decoration: none;
}
.note_foot a:hover, .note_foot a:focus {
  text-decoration: underline;
}

.tags-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.tag-line {
  margin-bottom: 3px;
}

.btn_tag {
  font-size: 15px;
  line-height: 24px;
  display: inline-block;
  padding: 8px 18px;
  outline: none;
  color: $text-color;
  background-color: $base-color;
  border: 1px solid $text-color;
  border-radius: 3px;
  margin-left: 17px;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.3s all ease;
}

.btn_delete {
  width: 120px;
  color: $error-color;
  border-color: $error-color;
}
.btn_delete:hover, .btn_delete:focus {
  color: $base-color;
  background-color: rgba($error-color, .7);
  letter-spacing: 2px;
}
.btn_add {
  width: 136px;
  color: $info-color;
  border-color: $info-color;
}
.btn_add:hover, .btn_add:focus {
  background-color: rgba($info-color, .2);
  letter-spacing: 2px;
}
.tag-line:not(:last-of-type) .btn_add {
  display: none;
}