$bg-color: #ebeef3; /* #E5E5E5 */
$base-color: #ffffff; /* @background-color-base */

$success-color: #52c41a;

$error-color: #f5222d;
$highlight-color: #f5222d;

$info-color: #1890ff; /* Blue / blue-6 / Daybreak */

$text-color: rgba(0, 0, 0, 0.75);
$heading-color: rgba(0, 0, 0, 0.85);
$text-color-secondary: rgba(0, 0, 0, 0.5);
$modal-color: #595959; /* Grey / grey-8 */

$border-color: #d9d9d9;
$placeholder-color: #bfbfbf; /* Grey / grey-6 */
$label-color: #262626; /* Grey / grey-9 */
$disabled-color: rgba(0, 0, 0, 0.35);
$footnote-color: #8c8c8c; /* Grey / grey-7 */
$hr-color: #e8e8e8;

$shadow-color: rgba(0, 0, 0, 0.15);
$calendula-color: #FAAD14; /* Calendula Gold / gold-6 */